
.Footer {
    height: 200px;
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
}
.Footer img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}